<table style="font-family: 'Arial Black', Arial, Helvetica, sans-serif">
    <tr>
        <!-- TOP -->
        <td style="padding: 12px">
            <!-- LEFT -->
            <!-- your pretty face -->
            <img height=90 width=90 src="https://images.prismic.io/vschool/0e7432e6-0607-4a56-a9f7-6a0e4af3ca37_stedman.png" alt="employee portrait">
        </td>

        <td style='vertical-align: top; padding-top: 10px;'>
            <!-- RIGHT -->
            <table style='margin-top: 0;'>
                <tr>
                    <td style='font-size: 26px; font-weight: 900;'>
                        <!-- your name -->
                        Bob O'Neill
                    </td>
                </tr>
                <tr>
                    <td style="color: #00634C; font-size: 17px; font-family: Arial, Helvetica, sans-serif; font-weight: 700;">
                        <!-- your role (janitor, security, instructor, etc.) -->
                        Hot Dog Vendor
                    </td>
                </tr>
                <tr>
                    <td style="color: #545454; font-size: 17px; font-family: Arial, Helvetica, sans-serif; font-weight: 700;"> 
                        <!-- email -->
                        bob@hotdog.vend
                    </td>
                    <td style="color: #545454; font-size: 17px; font-family: Arial, Helvetica, sans-serif; font-weight: 500;">
                        (309) 867-5309
                        <!-- phone number -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <!-- BOTTOM -->
        <td>
            <!-- LEFT -->
            <!-- IT'S EMPTY -->
        </td>
        <td>
            <!-- RIGHT -->
            <table>
                <tr style="padding-top: 15px;">
                    <td style='font-size: 26px; font-weight: 900;'>
                        V SCHOOL
                    </td>
                </tr>
                <tr>
                    <td style="color: #00634C; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 700;">
                        "Better Humans, Better Outcomes."
                    </td>
                </tr>
                <tr>
                    <td>
                        links links links links
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>